@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NorthWind World</h1>
    <p>Learn about <a href="https://github.com/Microsoft/sql-server-samples/tree/master/samples/databases/northwind-pubs">Northwind and pubs sample databases for Microsoft SQL Server</a>.</p>
</div>
