@model AddEmployeeVM

<h2>Add New Employee</h2>
@if (TempData["ErrorMessageEmployeeAdd"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessageEmployeeAdd"]</div>
}
<br />
<form asp-controller="Employee" asp-action="NewEmployee" method="post">
    <div class="mb-3"><label>FirstName: </label> <input class="form-control" type="text" asp-for="FirstName" /></div>
    <div class="mb-3"><label>LastName: </label> <input class="form-control" type="text" asp-for="LastName" /></div>
    <div class="mb-3"><label>Title: </label> <input class="form-control" type="text" asp-for="Title" /></div>
    <div class="mb-3"><label>TitleOfCourtesy: </label> <input class="form-control" type="text" asp-for="TitleOfCourtesy" /></div>
    <div class="mb-3">
        <label>Reports To: </label> <select class="custom-select" asp-for="ReportsTo" asp-items="@(new SelectList(Model.employeeVMs,"EmployeeID","LastName"))">
            <option>Seciniz</option>
        </select>
    </div>
    <div class="mb-3"><label>BirthDate: </label> <input type="date" asp-for="BirthDate" /></div>
    <div class="mb-3"><label>HireDate: </label> <input type="date" asp-for="HireDate" /></div>
    <div class="mb-3"><label>Address: </label> <input class="form-control" type="text" asp-for="Address" /></div>
    <div class="mb-3"><label>City: </label> <input class="form-control" type="text" asp-for="City" /></div>
    <div class="mb-3"><label class="form-label">Region: </label> <input class="form-control" type="text" asp-for="Region" /></div>
    <div class="mb-3"><label class="form-label">PostalCode: </label> <input class="form-control" type="text" asp-for="PostalCode" /></div>
    <div class="mb-3"><label class="form-label">Country: </label> <input class="form-control" type="text" asp-for="Country" /></div>
    <div class="mb-3"><label class="form-label">HomePhone: </label> <input class="form-control" type="tel" asp-for="HomePhone" /></div>
    <div class="mb-3"><label class="form-label">Extension: </label> <input class="form-control" type="text" asp-for="Extension" /></div>
    <div class="mb-3"><label class="form-label">Notes: </label> <input class="form-control" type="text" asp-for="Notes" /></div>
    <div class="mb-3"><input type="submit" name="name" value="Add" class="btn btn-danger" /></div>
</form>
